*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

@font-face {
  font-family: 'icomoon';
  src: url('./fonts/icomoon.eot?lwlfc0');
  src: url('./fonts/icomoon.eot?lwlfc0#iefix') format('embedded-opentype'), url('./fonts/icomoon.ttf?lwlfc0') format('truetype'), url('./fonts/icomoon.woff?lwlfc0') format('woff'), url('./fonts/icomoon.svg?lwlfc0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts*/
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering ===========*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-play3:before {
    content: "\ea1c";
  }
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-appleinc:before {
    content: "\eabe";
  }
  .icon-linkedin2:before {
    content: "\eaca";
  }

body {
  font-family: sans-serif;
}

header {
    padding: 2vh 1vh 8vh 1vh;
    display: flex;
    align-items: flex-start;
  }
  
.logo {
    width: 50%;
    height: 25%;
    margin-left: 8vh;
  }

.sr-only {
  position: absolute;
  width: 1vw;
  height: 1vh;
  padding: 0;
  margin: -1vh;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.menu-toggle {
  position: absolute;
  line-height: 1rem;
  font-size: 1rem;
  color:#97999B;
  border: solid #e2e2e2 .1vh;
  border-radius: 3px;
  padding: 1vh;
  width: 5wv;
  height: 4vh;
  display: flex;
  justify-content: space-around;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: #97999B;
}

.main-menu {
  position: absolute;
  display: none;
  left: -200px;
  top: 0;
  height: auto;
  overflow-y: scroll;
  overflow-x: visible;
  transition: left 0.3s ease,
    	box-shadow 0.3s ease;
  z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  min-height: 100%;
  width: 30vw;
  background: white;
}

.main-menu a {
  display: block;
  padding: .75em 15px;
  line-height: 1rem;
  font-size: 1rem;
  color:  #97999B;
  text-decoration: none;
}

.main-menu a:hover,
.main-menu a:focus {
  background:  #97999B;
  text-decoration: underline;
  color: white;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  left: 0;
  outline: none;
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop{
  position: absolute;
  display: block;  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop{
    position: fixed;
  }
}

.hero {
    background-image: url('/Users/Marce/Desktop/Labcar/recursos/img/taxi.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: scroll;
    height: 55vh;
    max-width: 100%;
    align-items: center;
    justify-content: flex-end;
    display: flex;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

.text-hero{
  background-color: #f7b617;
  color: white;
  padding: 4vh;
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-hero img {
  display: inline-flex;
  height: 35%;
  width: 35%;
}

.button-hero-1{
  color: black;
  background-color: white;
  padding: 1vh;
  border-radius: 1vh; 
}

.modalIniciaSesion {
  position: fixed;
  z-index: 99999999;
  background: none;
  /*width: 100vw;
  height: 100vh;
  top: -100vh;
  display: flex;
  justify-content: center;
  align-content: center;*/
  transition: opacity 0.5s ease;
}

.modalIniciaSesion .contentModalIniciaSesion {
  width: 80vw;
  max-width: 80vw;
  height: 60vh;
  left: 100%;
  margin-left: -50vh;
  position: fixed;
  top: -100vh;
  transition: top 0.35s ease;
  background-color: #52AD9D;
  box-shadow: 0 1vh 2vh rgba(0,0,0,0.1);
  border-radius: 3px;
  z-index: 99999999;
}

.arriba-IniciaSesion img {
  height: 30%;
  width: 30%;
  padding: 3vh 0 3vh 0;
  margin: 0;
}
.closeModalIniciaSesion{
  position: absolute;
  padding: 1vh;
}
.closeModalIniciaSesion :hover {
  background-color: gray;
  color: white;
}

.modalIniciaSesion:target {
  opacity: 1;
  top: 0;
}

.modalIniciaSesion:target .contentModalIniciaSesion{
  top: 30vh;
  transition: top 0.35s ease;
}

.arriba-IniciaSesion{
  display: inline-flex;
  justify-content: center;
  border-bottom: solid white .1vh;
}

.arriba-IniciaSesion a {
  
}

.contentModalIniciaSesion a{
  text-align: right;
  text-decoration: none;
  color: #e2e2e2;
}

.abajo-IniciaSesion {
  padding: 2vh 3vh 5vh 3vh;
}

.boxIniciaSesion {
  background-color: #e2e2e2;
  padding: 3vh;
  width: 10wh;
  height: 30vh;
  font-size: .9rem;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.boxIniciaSesion input {
  width: 45vw;
  padding: 1vh;
}

.boxIniciaSesion span{
  color: #2b2b2b;
}

.boxIniciaSesion button {
  background-color: #f7b617;
  padding: 1vh;
  height: 5vh;
  width: 30vw;
  margin: 2vh;
  color: white;
  border-radius: 3px;
}

.boxIniciaSesion .click-here {
  text-decoration: underline;
}

.informacion{
    background-color: #f7b617;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 60vh;
    max-width: 100%;
    display: flex;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    flex-direction: column;
    justify-content: space-between;
    padding: 4vh 1vh 1vh 1vh;
}

.celular{
  display: flex;
  justify-content: center;
  align-content: center;
}
.celular img{
  height: 60%;
  width: 65%;
}

.text-celular {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: 0;
  border: .1vh white solid;
  align-content: center;
  padding: 3vh;
}

.text-celular div {
  text-align: center;
}

.text-informacion{
  color: white;
  font-size: 1rem;
}

.text-informacion-bottom {
  justify-self: flex-start;
}

.conductor {
  background-image: url('/Users/Marce/Desktop/Labcar/recursos/img/conduce.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  height: 45vh;
  max-width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  flex-direction: column;
  padding: 13vh 3vh 20vh 3vh;
  align-items: center;
  display: flex;
  filter: brightness(.5);
}

.text-conductor {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: .7rem;
}

.button-conductor-1 {
  background-color: #f7b617;
  color: white;
  padding: 1vh;
  border: 0;
  border-radius: 1vh;
  width: 50vw;
  height: 5vh;
}

.tarifa {
  background-color: #f7b617;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 90vh;
  max-width: 100%;
  display: flex;    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  flex-direction: column;
  padding: 10vh 3vh 5vh 3vh;
  align-content: center;
  justify-content: space-between;
}

.text-tarifa {
  color: white;
  line-height: 5vh;
}

.icons-tarifa {
  padding: 2vh;
}

.map-tarifa {
  width: 80vw;
  height: 30vh;
  border: .1vh white solid;
  display: flex;
  align-self: center;
}

.button-tarifa-div {
  top: 0;
  align-self: center;
}

.button-tarifa {
  background-color: white;
  border-radius: .5vh;
  width: 30vw;
  height: 5vh;
  padding: 1vh;
  border: 0;
}

.inputs-tarifa input{
  background: none;
  width: 50vw;
  height: 5vh;
  border: white solid .1vh;
  border-radius: 1vh;
}

.footer {
  background-color: #2b2b2b ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 50vh;
  max-width: 100%;
  display: flex;    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  flex-direction: column;
  padding: 2vh;
  justify-content: space-between;
  color: white;
}

.logo-footer {
 padding-bottom: 1vh;
  border-bottom: solid white .1vh;
}

.logo-footer img {
  height: 13%;
  width: 26%;
}
.info-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links-footer {
  padding: 3vh 0 3vh 0;
}

.links-footer li {
  font-size: .6rem;
  list-style: none;
  line-height: 1rem;
}

.right-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}

.social-footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stores-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.button-footer {
  width: 60%;
  height: 30%;
}

.name-footer {
  padding-top: 3vh;
  padding-bottom: 0vh;
  border-top: solid white .1vh;
  font-size: .6rem;
}

@media (min-width: 601px) {


}




