*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

@font-face {
  font-family: 'icomoon';
  src: url('./fonts/icomoon.eot?lwlfc0');
  src: url('./fonts/icomoon.eot?lwlfc0#iefix') format('embedded-opentype'), url('./fonts/icomoon.ttf?lwlfc0') format('truetype'), url('./fonts/icomoon.woff?lwlfc0') format('woff'), url('./fonts/icomoon.svg?lwlfc0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts*/
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering ===========*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-play3:before {
    content: "\ea1c";
  }
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-appleinc:before {
    content: "\eabe";
  }
  .icon-linkedin2:before {
    content: "\eaca";
  }

.hero-desk {
  display: none;
}

body {
  font-family: sans-serif;
}

header {
    padding: 2vh 1vh 5vh 1vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

.logo {
    width: 50%;
    height: 25%;
    margin-left: 8vh;
  }

.sr-only {
  position: absolute;
  width: 1vw;
  height: 1vh;
  padding: 0;
  margin: -1vh;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.menu-toggle {
  position: absolute;
  line-height: 1rem;
  font-size: 1rem;
  color:#97999B;
  border: solid #e2e2e2 .1vh;
  border-radius: 3px;
  padding: 1vh;
  width: 5wv;
  height: 4vh;
  display: flex;
  justify-content: space-around;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: #97999B;
}

.main-menu {
  position: relative;
  display: none;
  left: -100px;
  top: 0;
  height: 60vh;
  overflow-y: scroll;
  overflow-x: visible;
  transition: left 0.3s ease,
    	box-shadow 0.3s ease;
  z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 3vh;
  min-height: 100%;
  width: 100vw;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-menu a {
  display: block;
  padding: 3vh;
  line-height: 1rem;
  font-size: 1rem;
  color: #2b2b2b;
  text-decoration: none;
}

.main-menu li:first-child a{
  border-top: #e2e2e2 solid .5vh;
}

.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  left: 0;
  outline: none;
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop{
  position: absolute;
  display: block;  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  cursor: default;
}

.hero {
    background-image: url('/Labcar/recursos/img/taxi.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: scroll;
    height: 55vh;
    max-width: 100%;
    align-items: center;
    justify-content: flex-end;
    display: flex;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

.text-hero{
  display: block;
  background-color: #f7b617;
  color: white;
  padding: 4vh 10vh 4vh 4vh;
  font-size: .7rem;
  line-height: 1.5rem;
}

.text-hero img {
  display: inline-flex;
  height: 35%;
  width: 35%;
}

.button-hero-1{
  color: black;
  background-color: white;
  padding: 1vh;
  border-radius: 1vh; 
  margin-top: 3vh;
}

.modalIniciaSesion {
  position: fixed;
  z-index: 99999999;
  background: none;
  /*width: 100vw;
  height: 100vh;
  top: -100vh;
  display: flex;
  justify-content: center;
  align-content: center;*/
  transition: opacity 0.5s ease;
}

.modalIniciaSesion .contentModalIniciaSesion {
  width: 80vw;
  max-width: 80vw;
  height: 60vh;
  left: 100%;
  margin-left: -50vh;
  position: fixed;
  top: -100vh;
  transition: top 0.35s ease;
  background-color: #52AD9D;
  box-shadow: 0 1vh 2vh rgba(0,0,0,0.1);
  border-radius: 3px;
  z-index: 99999999;
}

.closeModalIniciaSesion{
  position: relative;
  padding: 1vh;
}

.arriba-IniciaSesion{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: solid white .1vh;
}
.arriba-IniciaSesion img {
  height: 30%;
  width: 30%;
  padding: 3vh 0 3vh 0;
  margin: 0;
}

.modalIniciaSesion:target {
  opacity: 1;
  top: 0;
}

.modalIniciaSesion:target .contentModalIniciaSesion{
  top: 30vh;
  transition: top 0.35s ease;
}

.arriba-IniciaSesion{
  display: inline-flex;
  justify-content: center;
  border-bottom: solid white .1vh;
}

.contentModalIniciaSesion a{
  text-align: right;
  text-decoration: none;
  color: #e2e2e2;
}

.abajo-IniciaSesion {
  padding: 2vh 3vh 5vh 3vh;
}

.boxIniciaSesion {
  background-color: #e2e2e2;
  padding: 3vh;
  width: 10wh;
  height: 30vh;
  font-size: .9rem;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.boxIniciaSesion input {
  width: 45vw;
  padding: 1vh;
}

.boxIniciaSesion span{
  color: #2b2b2b;
}

.boxIniciaSesion button {
  background-color: #f7b617;
  padding: 1vh;
  height: 5vh;
  width: 30vw;
  margin: 2vh;
  color: white;
}

.boxIniciaSesion .click-here {
  text-decoration: underline;
}

.desk-info {
  display: none;
}

.informacion{
    background-color: #f7b617;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 60vh;
    max-width: 100%;
    display: flex;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    flex-direction: column;
    justify-content: space-between;
    padding: 4vh 1vh 1vh 1vh;
}

.celular{
  display: flex;
  justify-content: center;
  align-content: center;
}
.celular img{
  height: 60%;
  width: 65%;
}

.text-celular {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: 0;
  border: .1vh white solid;
  align-content: center;
  padding: 3vh;
  color: white;
}

.text-celular div {
  text-align: center;
}

.text-informacion{
  color: white;
  font-size: .7rem;
}

.text-informacion-bottom {
  justify-self: flex-start;
}

.conductor {
  background-image: url('/Labcar/recursos/img/conduce.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  height: 45vh;
  max-width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  flex-direction: column;
  padding: 13vh 3vh 20vh 3vh;
  align-items: center;
  display: flex;
  /*filter: brightness(.5);*/
}

.text-conductor {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: .7rem;
}

.button-conductor-1 {
  background-color: #f7b617;
  color: white;
  padding: 1vh;
  border: 0;
  border-radius: 1vh;
  width: 50vw;
  height: 5vh;
}

.tarifa {
  background-color: #f7b617;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 90vh;
  max-width: 100%;
  display: flex;    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  flex-direction: column;
  padding: 10vh 3vh 5vh 3vh;
  align-content: center;
  justify-content: space-between;
}

.text-tarifa {
  color: white;
  line-height: 5vh;
}

.icons-tarifa {
  padding: 2vh;
}

#map {
  border: .1vh white solid;
  display: flex;
  align-self: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  padding: 1vh;
}

.google-maps {
  height: 30vh;
  width: 90vw;
}

.tarifa-mob {
  flex-direction: column;
  justify-content: center;
}
.button-tarifa-div {
  margin-top: 3vh;
  text-align: center;
}
.button-tarifa {
  background-color: white;
  border-radius: .5vh;
  width: auto;
  height: auto;
  padding: 2vh 3vh 2vh 3vh;
  border: 0;
  align-self: center;
}

.button-tarifa:hover{
  background-color: #97999B;
  color: white;
}

.inputs-tarifa input{
  background: none;
  width: 50vw;
  height: 5vh;
  border: white solid .1vh;
  border-radius: 1vh;
  padding: 1vh;
  color: white;
}

.footer {
  background-color: #2b2b2b ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 60vh;
  max-width: 100%;
  display: flex;    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  flex-direction: column;
  padding: 2vh;
  justify-content: space-between;
  color: white;
}

.logo-footer {
 padding-bottom: 1vh;
  border-bottom: solid white .1vh;
}

.info-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links-footer {
  padding: 3vh 0 3vh 0;
}

.links-footer-desk {
  display: none;
}

.links-footer li {
  font-size: .7rem;
  list-style: none;
  line-height: 1.5rem;
}

.right-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}

.social-footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stores-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.button-footer {
  width: auto;
  height: auto;
}

.name-footer {
  padding-top: 3vh;
  padding-bottom: 0vh;
  border-top: solid white .1vh;
  font-size: .6rem;
}

@media only screen and (min-width: 768px) {
  .menu-toggle {
    display:none;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  header figure{
    align-self: center;
  }

  .main-menu {
    position: relative;
		left: auto;
		top: auto;
		height: auto;
    display: block;
  }
  
  .main-menu ul {
    display: flex;
    flex-direction: row;
    /* Undo off-canvas styling */
    padding: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    height: auto;
    width: auto;
    background: none;
  }
  
  .main-menu a {
    color: #2b2b2b;
    border: 0 !important; /* Remove borders from off-canvas styling */
  }
  
  .main-menu a:hover,
  .main-menu a:focus {
    background: none; /* Remove background from off-canvas styling */
    color: #f7b617;
  }
  
  .modalIniciaSesion .contentModalIniciaSesion {
    width: auto;
    max-width: 80vw;
    height: auto;
    margin-left: -80vw;
    margin-top: -20vh;
    top: -100vh;
    position: fixed;
    transition: top 0.35s ease;
    background-color: #52AD9D;
    box-shadow: 0 1vh 2vh rgba(0,0,0,0.1);
    border-radius: 3px;
    z-index: 99999999;
  }
  
  .arriba-IniciaSesion img {
    height: 20%;
    width: 20%;
    padding: 5vh 0;
    margin: 0;
  }

  .arriba-IniciaSesion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: solid white .1vh;
  }
  
  .abajo-IniciaSesion{
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .boxIniciaSesion {
    width: 50%;
    height: 50%;
  }

  .boxIniciaSesion input {
    width: auto;
    padding: auto;
  }

  .boxIniciaSesion button {
    background-color: #f7b617;
    padding: 1vh;
    height: auto;
    width: auto;
    margin: 2vh;
    color: white;
    border-radius: 3px;
    font-size: 1.5rem;
  }
  
  .hero {
    height: 100vh;
    width: 100%;
  }
  .text-hero{
    display: none;
  }

  .hero-desk {
    display: block;
    color: white;
    background-color: #f7b617;
    height: 45vh;
    width: 40vw;
    padding: 3vh;
    line-height: 2rem;
    text-align: left;
  }
  .hero-desk img {
    height: 20%;
    width: 20%;
    text-align: center;
  }
  .hero-desk button {
    padding: 2vh;
    background-color: white;
    border: 0;
    border-radius: 5px;
    margin: 2vh 0 2vh 0;
    font-size: 1rem;
  }
  .hero-desk button:hover{
    background-color: #97999B;
    color: white;
  }
  .o-bien {
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
    justify-content: space-between;
    align-content: center;
    align-items: baseline;
  }

  .line {
    height: .1rem;
    width: 35%;
    text-align: center;
  }

  .mobile-info{
    display: none;
    padding: 2vh 0 2vh 0;
  }

  .desk-info {
    display: flex;
    width: 80vw;
    height: 95%;
    border-top: white solid .1vh;
    border-right: white solid .1vh;
    border-bottom: white solid .1vh;
    padding: 5vh;
  }

  .text-desk-info {
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    line-height: 1.5rem;
    align-content: center;
    padding: 5vh 0 5vh 20vh;
  }

  .conductor {
    align-items: flex-end;
  }
  
  .text-conductor {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.5rem;
    width: 30%;
  }
  
  .button-conductor-1 {
    background-color: #f7b617;
    color: white;
    font-size: 1.3rem;
    padding: 1vh;
    border: 0;
    border-radius: 1vh;
    width: 20vw;
    height: 5vh;
  }

  .button-conductor-1:hover {
    background-color: white;
    color: #f7b617;
  }

  .tarifa {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    font-size: 2rem;
    padding: 5vh 15vh;
    height: 70vh;
  }
  
  .google-maps {
    height: 55vh;
    width: 35vw;
  }
  
  .button-tarifa {
    background-color: white;
    border-radius: .5vh;
    width: auto;
    height: auto;
    padding: 1.5vh;
    border: 0;
    align-self: center;
    font-size: 1rem;
  }
  
  .inputs-tarifa input{
    width: 30vh;
    height: auto;
    padding: 1vh;
    color: white;
  }
  
  .tarifa-mob {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .footer {
    height: 75vh;
    padding: 10vh 15vh;
  }

  .links-footer-desk, .links-footer li {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    list-style: none;
    line-height: 2rem;
    justify-content: center;
    align-content: center;
  }

  .links-footer, .links-desk {
    padding: 0;
    margin: 0;
    top: 0;
  }

  .name-footer {
    font-size: 1rem;
  }

  .info-footer {
    padding: 0 2vh;
    justify-content: space-around;
  }

}




